.icons {
  /* border: 1px solid green; */
  width: 380px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github {
  color: #333;
}
.github:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #333;
  filter: drop-shadow(0 0 5px #333);
}

.whatsapp {
  color: #075e54;
}

.whatsapp:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #075e54;
  filter: drop-shadow(0 0 5px #075e54);
}

.linkedin {
  color: #0a66c2;
}
.linkedin:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #0a66c2;
  filter: drop-shadow(0 0 5px #0a66c2);
}
.resume {
  color: #ff0000;
}

.resume:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #ff0000;
  filter: drop-shadow(0 0 5px #ff0000);
}

.leetcode:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #ffa116;
  filter: drop-shadow(0 0 5px #ffa116);
}

.gmail:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #4285f4;
  filter: drop-shadow(0 0 5px #4285f4);
}

.call {
  color: #4a9b4a;
}
