.aboutContainer {
  height: calc(100vh - var(--header-hight));
  width: 100vw;
  display: flex;
}

.aboutPage {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.imageContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction {
  font-size: 2rem;
  font-weight: 550;
}
.name {
  font-size: 4rem;
  font-weight: 700;
}
.student {
  font-size: 2rem;
  font-weight: 600;
}

.responsiblity {
  font-size: 1.4rem;
  font-weight: 525;
  color: black;
}

.content {
  font-size: 1.2rem;
  color: #575757;
}

.nameColor {
  color: #4285f4;
}

.bringList {
  margin: 0;
  padding-left: 30px;
}
